<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Evelyn Lo">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Evelyn professional website">
    <title>Evelyn Lo</title>
    <title>Document</title>
</head>
<body>
    <body style="font-family: Arial">

    <header>
        <h1>Evelyn Lo</h1>
        <nav>
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="cv.html">CV</a></li>
                <li><a href="contact.html">Contact me</a></li>
                <li><a href="fun.html">For fun</a></li>
            </ul>
            

        </nav>
    
    </header>
    <div class="main">
        <h2>Curriculum Vitae</h2>
        
            
        <table>
            <thead>
              <tr>
                <th>Name</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Languages</td>
                <td>Python, C, SQL, R, Java, JavaScript, Ruby</td>
              </tr>
              <tr>
                <td>Education</td>
                <td>B.S in Information Systems</td>
              </tr>
              <tr>
                <td>Experience</td>
                <td>AI Intern @ Foxconn</td>

              </tr>
              <tr>
                <td>Projects</td>
                <td>Face and Gesture Recognition</td>
              </tr>
              <tr>
                <td>Leadership</td>
                <td>PR head of TSA</td>
              </tr>
              
            </tbody>
          </table>
          <a href="../static/EvelynLo_resume_school.pdf" target="_blank">Download my Resume</a>

          
        
        
    </div>
    <footer>
        <p>&copy: 2025 designed and coded by Evelyn </p>
    </footer>
</body>
</html>